html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  /*height: 100%;*/
  overflow: hidden;
}
.container canvas {
  background-color: #aa4949;
}

.dot {
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.dot.red {
  background: #eaaa58;
}
.dot.blue {
  background: #66b6be;
}
.dot.bumper {
  background: #4f3c0f;
}

/*
  dot-color:
  - fixed: #4f3c0f
  - orange: #eaaa58
  - blue: #66b6be
  - white: #e6d2c2
*/
